body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, black, white, black);
    background-size: 200% 200%;
    animation: gradient 3s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.text {
    position: relative;
    text-align: center;
    color: transparent;
    font-size: 3em;
    animation: h1-colors 3s ease infinite;
}
@keyframes h1-colors {
    0% {
        text-shadow: 0 0 1px black, 0 0 10px black, 0 0 15px black, 0 0 20px black;
    }
    33% {
        text-shadow: 0 0 1px white, 0 0 10px white, 0 0 15px white, 0 0 20px white;
    }
    66% {
        text-shadow: 0 0 1px black, 0 0 10px black, 0 0 15px black, 0 0 20px black;
    }
    100% {
        text-shadow: 0 0 1px white, 0 0 10px white, 0 0 15px white, 0 0 20px white;
    }
}

div img {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 300px;
}
